{% extends "base.html" %} {% block content %} {% include "navbar_2.html" %} {% load crispy_forms_tags %} {% load static %}

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-12">
      <p class="title-text text-center">Gallery</p>
    </div>
  </div>

  <!-- Gallery -->
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img src="{% static 'images/food-1.jpg'%}" class="img-width-100 shadow-1-strong rounded mb-4" alt="Eggs Benedict" />

      <img src="{% static 'images/food-2.jpg'%}" class="img-width-100 shadow-1-strong rounded mb-4" alt="Steak" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img src="{% static 'images/food-3.jpg'%}" class="img-width-100 shadow-1-strong rounded mb-4" alt="Prawn Skewers" />

      <img src="{% static 'images/food-4.jpg'%}" class="img-width-100 shadow-1-strong rounded mb-4" alt="Salmon on bread and salad" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img src="{% static 'images/food-13.jpg'%}" class="img-width-100 shadow-1-strong rounded mb-4" alt="Large Steak" />

      <img src="{% static 'images/food-8.jpg'%}" class="img-width-100 shadow-1-strong rounded mb-4" alt="Chicken Skewers" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img src="{% static 'images/food-9.jpg'%}" class="img-width-100 shadow-1-strong rounded mb-4" alt="Feta Cheese Salad" />

      <img src="{% static 'images/food-12.jpg'%}" class="img-width-100 shadow-1-strong rounded mb-4" alt="Family meal of off" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img src="{% static 'images/food-11.jpg'%}" class="img-width-100 shadow-1-strong rounded mb-4" alt="Spaghetti" />

      <img src="{% static 'images/food-10.jpg'%}" class="img-width-100 shadow-1-strong rounded mb-4" alt="Waffles and syrup" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img src="{% static 'images/food-6.jpg'%}" class="img-width-100 shadow-1-strong rounded mb-4" alt="Red Wine" />

      <img src="{% static 'images/food-5.jpg'%}" class="img-width-100 shadow-1-strong rounded mb-4" alt="Large Indian Meal" />
    </div>
  </div>
</div>
<!-- Gallery -->

{% include "footer.html" %} {% endblock %}
