{% extends "base.html" %} {% block content %} {% include "navbar_2.html" %} {% load crispy_forms_tags %} {% load static %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-5">
      <p class="title-text text-center">Gallery</p>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/food-2.jpg'%}" class="d-block img-width-100" alt="Steak image">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/food-5.jpg'%}" class="d-block img-width-100" alt="Indian family meal">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/food-7.jpg'%}" class="d-block img-width-100" alt="Steak and asparagus">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/food-4.jpg'%}" class="d-block img-width-100" alt="Salmon bread and salad image">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/food-11.jpg'%}" class="d-block img-width-100" alt="Spaghetti pesto image">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/food-13.jpg'%}" class="d-block img-width-100" alt="Fillet steak image">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %} {% endblock %}
