{% extends "base.html" %} {% block content %} {% load static %}

<!-- Hero Section -->

<div class="hero-image">
  {% include "navbar.html" %}
  <div class="color-overlay d-flex justify-content-center align-items-center">
    <div class="singleCol container text-center">
      <h1 class="cafe-manbo-text">Cafe Manbo</h1>
      <p class="established-text">
        <strong>Established 2002</strong>
      </p>
      <button class="golden-button mt-3">Book Now</button> <button class="golden-button mt-3 ms-5">Contact Us</button>
    </div>
  </div>
</div>

<!-- Our Story Section -->

<section class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-xl-6 p-5">
      <h1 class="title-text text-center">Our Story</h1>
      <p class="body-text">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." "Lorem
        ipsum dolor sit amet, consectetur adipiscing elit..
      </p>
      <button class="golden-button">Read More</button>
    </div>
    <div class="col-xl-6 p-5">
      <div class="our-story-image p-3 img-fluid">
        <img src="{% static 'images/chefs-image.jpg'%}" alt="Chefs Working" />
      </div>
    </div>
  </div>
</section>

<!-- Placeholder Content Section -->

<section class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-xl-6 order-xl-2 p-5">
      <h1 class="title-text text-center">Placeholder Content</h1>
      <p class="body-text">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." "Lorem
        ipsum dolor sit amet, consectetur adipiscing elit..
      </p>
      <button class="golden-button">Read More</button>
    </div>
    <div class="col-xl-6 order-xl-1 p-5">
      <div class="our-story-image p-3 img-fluid">
        <img src="{% static 'images/book-now-image.jpg'%}" alt="Chefs Working" />
      </div>
    </div>
  </div>
</section>

<!-- Review Cards Section -->

<section class="p-5 bg-dark">
  <div class="container">
    <h2 class="text-center title-text mb-5">A word from our beloved guests</h2>
    <div class="row g-4">
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img src="{% static 'images/book-now-image.jpg'%}" class="review-profile-image mb-3" alt="Logo image" />
            <h3 class="review-title-text mb-3">Mike Ralph</h3>
            <p class="review-body-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, nobis. Eaque exercitationem harum reprehenderit nihil laboriosam distinctio voluptas consequuntur repellat.</p>
            <form action="#" method="GET">
              {% csrf_token %}
              <button class="golden-button" type="submit">Read More</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img src="{% static 'images/book-now-image.jpg'%}" class="review-profile-image mb-3" alt="Logo image" />
            <h3 class="review-title-text mb-3">Jack Ralph</h3>
            <p class="review-body-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, nobis. Eaque exercitationem harum reprehenderit nihil laboriosam distinctio voluptas consequuntur repellat.</p>
            <form action="#" method="GET">
              {% csrf_token %}
              <button class="golden-button" type="submit">Read More</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img src="{% static 'images/book-now-image.jpg'%}" class="review-profile-image mb-3" alt="Logo image" />
            <h3 class="review-title-text mb-3">Lynn Manby</h3>
            <p class="review-body-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, nobis. Eaque exercitationem harum reprehenderit nihil laboriosam distinctio voluptas consequuntur repellat.</p>
            <form action="#" method="GET">
              {% csrf_token %}
              <button class="golden-button" type="submit">Read More</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img src="{% static 'images/book-now-image.jpg'%}" class="review-profile-image mb-3" alt="Logo image" />
            <h3 class="review-title-text mb-3">Craig Manby</h3>
            <p class="review-body-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, nobis. Eaque exercitationem harum reprehenderit nihil laboriosam distinctio voluptas consequuntur repellat.</p>
            <form action="#" method="GET">
              {% csrf_token %}
              <button class="golden-button" type="submit">Read More</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row align-items-center justify-content-center p-5">
    <div class="col-xl-12">
      <h1 class="title-text text-center">Hours & Location</h1>
      <div class="row testcake justify-content-center text-center">
        <div class="col-md-6 chocolate body-text ">
          <p>Monday - 17:00pm to 11:30pm</p>
          <p>Tuesday- 17:00pm to 11:30pm</p>
          <p>Wednesday - 17:00pm to 11:30pm</p>
          <p>Thursday - 17:00pm to 11:30pm</p>
          <p>Friday - 17:00pm to 11:30pm</p>
          <p>Saturday - 17:00pm to 11:30pm</p>
          <p>Sunday - Closed</p>
          <br />
        </div>
        <div class="col-md-6 body-text ">
          <p>4 Swithenbank Street</p>
          <p>Ossett</p>
          <p>WF5 9RW</p>
          <p>cafemanbo@hotmail.co.uk</p>
          <p>01924 206050</p>
          <br />
          <button class="golden-button">Visit Us</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid">
  <div id="map"></div>
</section>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEhH98XU052W1AZPnFlD01ZzVs4xHj2KI&callback=initMap"></script>
<script src="{% static 'js/map.js'%}"></script>

{% include "footer.html" %} {% endblock content %}