{% extends "base.html" %} {% load i18n %} {% block head_title %}{% trans "Change Password" %}{% endblock %} {% block content %}

{% include "navbar_2.html" %} {% load crispy_forms_tags %}

<div class="container page-space p-5 d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-12">
      <h3 class="title-text">{% trans "Password Reset" %}</h3>

      {% if token_fail %} {% url 'account_reset_password' as passwd_reset_url %}
        <p>
          {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a
          <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        </p>
        {% else %}
        <form method="POST" action="{{ action_url }}">
          {% csrf_token %} {{ form.as_p }}
          <input type="submit" class="black-button" name="action" value="{% trans 'Submit' %}" />
        </form>
    </div>
  </div>
</div>

{% endif %} {% include "footer.html" %} {% endblock %}
