{% extends "base.html" %} {% load i18n %} {% block head_title %}{% trans "Change Password" %}{% endblock %} {% block content %}

{% include "navbar_2.html" %}

<div class="container page-space p-5 d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-12">
        <h3 class="title-text">{% trans "Change Password" %}</h3>
            <p>{% trans 'Your password has now been changed.' %}</p>
      </div>
    </div>
  </div>
  
{% include "footer.html" %} {% endblock %}