{% extends "base.html" %} {% load i18n %} {% load account %}  {% block content %} 
{% include "navbar_2.html" %} {% load crispy_forms_tags %}

<div class="container page-space p-5 d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-12">
      <h3 class="title-text">{% trans "Password Reset" %}</h3>
      {% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% endif %}
      
      <p>
        {% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few
        minutes.{% endblocktrans %}
      </p>
    </div>
  </div>
</div>

{% include "footer.html" %} {% endblock %}
