{% extends "base.html" %} {% load i18n %} {% load account %}  {% block content %} 
{% include "navbar_2.html" %} {% load crispy_forms_tags %}

<div class="container page-space p-5 d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-12">
      <h3 class="title-text">{% trans "Change Password" %}</h3>
      <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </form>
    </div>
  </div>
</div>

{% include "footer.html" %} {% endblock %}