{% extends "base.html" %} {% block content %} {% include "navbar_2.html" %}

{% load crispy_forms_tags %}

<div class="container page-space">
  <div class="row">
    <div class="col-xl-8 order-xs-1 order-xl-2 mb-4 mt-5">
      <h3 class="title-text">Book your stay</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, ex iusto. Nemo eaque non ipsum similique! Iure libero rem nostrum nihil aspernatur minus, voluptatibus facere iusto quis ducimus corporis numquam labore dicta beatae accusantium dignissimos maiores sint nulla alias consequuntur? Suscipit unde perspiciatis error vel veritatis obcaecati! Dolorem, commodi aspernatur?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, ex iusto. Nemo eaque non ipsum similique! Iure libero rem nostrum nihil aspernatur minus, voluptatibus facere iusto quis ducimus corporis numquam labore dicta beatae accusantium dignissimos maiores sint nulla alias consequuntur? Suscipit unde perspiciatis error vel veritatis obcaecati! Dolorem, commodi aspernatur?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, ex iusto. Nemo eaque non ipsum similique! Iure libero rem nostrum nihil aspernatur minus, voluptatibus facere iusto quis ducimus corporis numquam labore dicta beatae accusantium dignissimos maiores sint nulla alias consequuntur? Suscipit unde perspiciatis error vel veritatis obcaecati! Dolorem, commodi aspernatur?</p>
    </div>
    <div class="col-xl-4 col-md-12 order-xs-2 order-xl-1 mb-4 mt-5">
      <form method="POST">
        <input type="hidden" name="next" value="{{request.path}}">
        {% csrf_token %}
            {{ form|crispy }}
            <p>
              <button type="submit" class="golden-button">Submit</button>
            </p>
        </div>
    </form>
    </div>
  </div>
</div>

{% include "footer.html" %} {% endblock %}