{% extends "base.html" %} {% block content %} {% include "navbar_2.html" %}

{% load crispy_forms_tags %}

<div class="container page-space pt-5 pb-5">
  <div class="row">
    <div class="col-lg-7">
      <h3 class="mt-5 mb-2 title-text">Book your stay</h3>
      <p class="pt-5 pe-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestiae, aliquam dolorum vel commodi officiis culpa dolores nihil, aperiam adipisci illo dignissimos odit quidem excepturi?</p>
      <p class="pt-5 pe-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestiae, aliquam dolorum vel commodi officiis culpa dolores nihil, aperiam adipisci illo dignissimos odit quidem excepturi?</p>
      <p class="pt-5 pe-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestiae, aliquam dolorum vel commodi officiis culpa dolores nihil, aperiam adipisci illo dignissimos odit quidem excepturi?</p>
    </div>
    <div class="col-lg-5 mt-5 mb-5">  
      <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <div>
              <p>
                  <button class="golden-button" type="submit">Book Now</button>
              </p>
          </div>
      </form>
    </div>
  </div>
</div>

{% include "footer.html" %} {% endblock %}