{% extends "base.html" %} {% block content %} {% include "navbar_2.html" %} {% load crispy_forms_tags %}

<div class="container page-space">
  <div class="row">
    <div class="col-xl-8 mb-4 mt-5 pe-5 d-none d-md-block">
      <h3 class="title-text">Edit Booking</h3>
      <p>If your booking has been approved and you are wanting to amend it, your booking will need to be re-approved by a staff member.</p>
      <p>
        Please allow up to 24 hours for this to be approved, if you need to speed up the process then you are more than welcome to contact the restaurant by
        phone and we will be happy to help.
      </p>
      <br />
      <strong><p>Monday - 17:00pm to 11:30pm</p></strong>
      <strong><p>Tuesday- 17:00pm to 11:30pm</p></strong>
      <strong><p>Wednesday - 17:00pm to 11:30pm</p></strong>
      <strong><p>Thursday - 17:00pm to 11:30pm</p></strong>
      <strong><p>Friday - 17:00pm to 11:30pm</p></strong>
      <strong><p>Saturday - 17:00pm to 11:30pm</p></strong>
      <strong><p>Sunday - Closed</p></strong>
      <br />
      <p>We look forward to seeing you!</p>
    </div>
    <div class="col-xl-4 mb-4 mt-5 d-flex d-md-block align-items-center justify-content-center">
      <form method="POST">
        <h3 class="title-text d-md-none">Edit Booking</h3>
        <input type="hidden" name="next" value="{{request.path}}" />
        {% csrf_token %} {{ form|crispy }}
        <p>
          <button type="submit" class="black-button">Submit</button>
        </p>
      </form>
    </div>
  </div>
</div>

      <!-- Cancel Booking Modal -->
      <div
        class="modal fade"
        id="staticBackdrop_{{ booking.id }}"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <p>Booking Reference - {{ booking.ref_number }}</p>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="POST">
                <h3 class="title-text d-md-none">Edit Booking</h3>
                <input type="hidden" name="next" value="{{request.path}}" />
                {% csrf_token %} {{ form|crispy }}
                <p>
                  <button type="submit" class="black-button">Submit</button>
                </p>
              </form>
            <div class="modal-footer justify-content-center">
              <form action="cancel/{{ booking.id }}">
                <button class="btn btn-danger" type="submit">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>

{% include "footer.html" %} {% endblock %}
