{% extends "base.html" %} {% block content %} {% include "navbar_2.html" %}

<!-- User Edit Booking Success Main Content -->
<div class="container page-space">
  <div class="alert alert-success text-center mt-5" role="alert">Booking Successfully Updated</div>
  <p class="mt-5">Thank you for updating your booking</p>
  <table>
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Ref Number</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Guests</th>
        <th scope="col">Contact Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="First Name">{{ data.first_name }}</td>
        <td data-label="Last Name">{{ data.last_name }}</td>
        <td data-label="Ref Number">{{ data.ref_number }}</td>
        <td data-label="Date">{{ data.date_of_visit }}</td>
        <td data-label="Time">{{ data.time_of_visit }}</td>
        <td data-label="Guests">{{ data.number_of_guests }}</td>
        <td data-label="Contact Number">{{ data.contact_number }}</td>
      </tr>
    </tbody>
  </table>
  <p class="mt-5 mb-5">
    Please allow up to 24 hours for the restaurant to approve your booking, if you are booking for same day visit then please do call the restaurant
  </p>
  <p class="mt-5 mb-5">You will receive an email shortly letting you know if your booking has been approved</p>
</div>

{% include "footer.html" %} {% endblock %}
