{% extends "base.html" %} {% block content %} {% include "navbar_2.html" %}

<section class="container page-space pt-5 pb-5">
  <table class="table table_id pt-5 text-center">
    <thead>
      {% if booking %}
      <tr>
        <th scope="col">Reference Number</th>
        <th scope="col">Date Of Visit</th>
        <th scope="col">Time Of Visit</th>
        <th scope="col">Details</th>
      </tr>
      {% else %}
      <h4>You don't have any bookings yet</h4>
      {% endif %}
    </thead>
    <tbody>
      {% for booking in booking %}
      <tr>
        <td data-label="Ref">{{ booking.ref_number }}</td>
        <td data-label="Date">{{ booking.date_of_visit }}</td>
        <td data-label="Time">{{ booking.time_of_visit }}</td>
        <form action="user-details-booking/{{ booking.id }}" method="POST">
          <input type="hidden" name="next" value="{{request.path}}">
          <td data-label="details"><button type="submit" class="btn btn-primary">Details</button></td>
          {% csrf_token %}
        </form>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>


{% include "footer.html" %} {% endblock %}
