{% extends "base.html" %} {% block content %} {% include "navbar_2.html" %}

{% load static %}

{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'css/user_reservations.css' %}">

<!-- JQuery CDN -->
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

<section class="container page-space pt-5 pb-5">
  {% if messages %}
                {% for msg in messages %}
                {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                  <div class="alert alert-danger alert-dismissable d-flex justify-content-between align-items-center mb-3">
                    <p class="m-0">{{msg.message}}</p> 
                    <button class="btn-close" data-bs-dismiss="alert" aria-hidden="true"></button>
                  </div>
                  {% else %}
                  <div class="alert alert-success alert-dismissable d-flex justify-content-between align-items-center mb-3">
                    <p class="m-0">{{msg.message}}</p> 
                    <button class="btn-close" data-bs-dismiss="alert" aria-hidden="true"></button>
                  </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
  <table class="table table_id pt-5 text-center">
    <div class="col-12 mb-4">
      <a href="{% url 'user_reservations'%}">Previous Page</a>
    </div>
     <thead>
      <tr>
        <th scope="col">Ref</th>
        <th scope="col">Name</th>
        <th scope="col">Date Of Visit</th>
        <th scope="col">Time Of Visit</th>
        <th scope="col">Party Size</th>
        <th scope="col">Status</th>
        <th scope="col">Email</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Account</th>
        <th scope="col">Disabled Access</th>
        <th scope="col">Additional Info</th>
        <th scope="col">Total Income</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Ref">{{ booking.ref_number }}</td>
        <td data-label="Name">{{ booking.first_name }} {{ booking.last_name }}</td>
        <td data-label="Date">{{ booking.date_of_visit }}</td>
        <td data-label="Time">{{ booking.time_of_visit }}</td>
        <td data-label="Guests">{{ booking.number_of_guests }}</td>
        <td data-label="Booking Status">{% if booking.guest_attended == True %} <span class="green-text">Booking Attended</span> <i class="fas fa-check green-text"></i> {% elif booking.booking_denied == True %} <span class="red-text">Booking Denied</span> <i class="fas fa-exclamation red-text"></i>  {% elif booking.guest_no_show == True %} <span class="red-text">Booking Not Attended</span> <i class="fas fa-exclamation red-text"></i> {% elif booking.booking_approved == True %} <span class="green-text">Booking Approved</span> <i class="fas fa-check green-text"></i> {% else %} <span class="text-warning">Awaiting Approval</span> <i class="fas fa-exclamation text-warning"></i> {% endif %}</td>
        <td data-label="Email">{{ booking.email }}</td>
        <td data-label="Contact">{{ booking.contact_number }}</td>
        <td data-label="Account">{{ booking.user.username }}</td>
        <td data-label="Disabled Access">{% if booking.disabled_access == True %} Required {% else %} Not Required {% endif %}</td>
        <td data-label="Additional Info">{% if booking.additional_info %} {{ booking.additional_info }} {% else %} No additional information {% endif %} </td>
        <td data-label="Bill Amount">{% if payment %} £{{ payment.amount_owed }} {% else %} No payment information {% endif %}</td>
        <td data-label="Amount Paid">{% if payment %} £{{ payment.amount_paid }} {% else %} No payment information {% endif %}</td>
        <td data-label="Payment Status">{% if payment.amount_paid >= payment.amount_owed %} <span class="green-text">Bill Settled</span> <i class="fas fa-check green-text"> {% elif payment.amount_paid < payment.amount_owed %} <span class="red-text">Bill not settled</span> <i class="fas fa-exclamation red-text"></i> {% else %} No payment information {% endif %}</td>
      </tr>
    </tbody>
  </table>
  {% if booking.guest_attended == False and booking.guest_no_show == False %}
  <div class="d-sm-flex d-block">
    <br>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Edit</button>
    <button type="button" class="btn btn-danger ms-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop_{{ booking.id }}">Cancel</button>
  </div> 
      {% else %}
      <p>You can't edit or cancel this booking since this booking has been completed</p>
      {% endif %}
      <!-- Cancel Booking Modal -->
      <div
        class="modal fade"
        id="staticBackdrop_{{ booking.id }}"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <p>Booking Reference - {{ booking.ref_number }}</p>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Are you sure you wish to cancel this booking?</p>
              <p><small>If you don't want to cancel this booking, close the window by clicking the cross on the top right</small></p>
            <div class="modal-footer justify-content-center">
              <form action="cancel/{{ booking.id }}">
                <button class="btn btn-danger" type="submit">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div
        class="modal fade"
        id="staticBackdrop2"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <p class="red-text">Booking Reference - {{ booking.ref_number }}</p>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center align-items-center">
              <form method="POST">
                <h3 class="title-text d-md-none">Edit Booking</h3>
                <input type="hidden" name="next" value="{{request.path}}" />
                {% csrf_token %} {{ form|crispy }}
                <p class="text-center mt-2">
                  <button type="submit" class="btn btn-success">Submit</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Close</button>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>


{% include "footer.html" %}

{% endblock %}
