{% extends "base.html" %} {% block content %} {% include "navbar_2.html" %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/user_reservations.css' %}">

<section class="container page-space pt-5 pb-5">
  <table class="table table_id pt-5 text-center">
    <div class="col-12 mb-4">
      <a href="{% url 'user_reservations'%}">Previous Page</a>
    </div>
     <thead>
      <tr>
        <th scope="col">Ref</th>
        <th scope="col">Name</th>
        <th scope="col">Date Of Visit</th>
        <th scope="col">Time Of Visit</th>
        <th scope="col">Party Size</th>
        <th scope="col">Status</th>
        <th scope="col">Email</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Account</th>
        <th scope="col">Disabled Access</th>
        <th scope="col">Additional Info</th>
        <th scope="col">Total Income</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Ref">{{ booking.ref_number }}</td>
        <td data-label="Name">{{ booking.first_name }} {{ booking.last_name }}</td>
        <td data-label="Date">{{ booking.date_of_visit }}</td>
        <td data-label="Time">{{ booking.time_of_visit }}</td>
        <td data-label="Guests">{{ booking.number_of_guests }}</td>
        <td data-label="Booking Status">{% if booking.guest_attended == True %} <span class="green-text">Booking Attended</span> <i class="fas fa-check green-text"></i> {% elif booking.booking_denied %} <span class="red-text">Booking Denied</span> <i class="fas fa-exclamation red-text"></i> {% elif booking.booking_approved == True %} <span class="green-text">Booking Approved</span> <i class="fas fa-check green-text"></i> {% else %} <span class="text-warning">Awaiting Approval</span> <i class="fas fa-exclamation text-warning"></i> {% endif %}</td>
        <td data-label="Email">{{ booking.email }}</td>
        <td data-label="Contact">{{ booking.contact_number }}</td>
        <td data-label="Account">{{ booking.user.username }}</td>
        <td data-label="Disabled Access">{% if booking.disabled_access == True %} Required {% else %} Not Required {% endif %}</td>
        <td data-label="Additional Info">{% if booking.additional_info %} {{ booking.additional_info }} {% else %} No additional information {% endif %} </td>
        <td data-label="Bill Amount">{% if payment %} £{{ payment.amount_owed }} {% else %} No payment information {% endif %}</td>
        <td data-label="Amount Paid">{% if payment %} £{{ payment.amount_paid }} {% else %} No payment information {% endif %}</td>
        <td data-label="Payment Status">{% if payment.amount_paid >= payment.amount_owed %} <span class="green-text">Bill Settled</span> <i class="fas fa-check green-text"> {% elif payment.amount_paid < payment.amount_owed %} <span class="red-text">Bill not settled</span> <i class="fas fa-exclamation red-text"></i> {% else %} No payment information {% endif %}</td>
      </tr>
    </tbody>
  </table>
  {% if booking.guest_attended == False %}
  <div class="d-sm-flex d-block">
    <form action="edit/{{ booking.id }}">
      <button class="btn btn-warning" type="submit">Edit</button>
    </form>
    <br>
    <form action="cancel/{{ booking.id }}">
      <button class="btn btn-danger ms-sm-4" onclick="return confirm('Are you sure?');" type="submit">Cancel</button>
    </form>
  </div> 

      {% else %}
      <p>You can't edit or cancel this booking since you have attended</p>
      {% endif %}
</section>


  {% include "footer.html" %}


{% endblock %}
