{% extends "base.html" %} {% block content %} {% include "staff_navbar.html" %}

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
  integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>


<div class="col-9">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h5 class="text-uppercase text-center mt-5 mb-5">Staff Dashboard</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div class="align-self-center">
                <i class="fas fa-pencil-alt text-danger fa-3x"></i>
              </div>
              <div class="text-end">
                <h3>{{ booking_count }}</h3>
                <p class="mb-0 galaxy-fold">Total Bookings</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div class="align-self-center">
                <i class="fas fa-user text-info fa-3x"></i>
              </div>
              <div class="text-end">
                <h3>{{ total_guests }}</h3>
                <p class="mb-0 galaxy-fold">Total Guests</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div class="align-self-center">
                <i class="far fa-comment-alt text-warning fa-3x"></i>
              </div>
              <div class="text-end">
                <h3>{{ review_count }}</h3>
                <p class="mb-0 galaxy-fold">Total Reviews</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div class="align-self-center">
                <i class="fas fa-chart-line text-success fa-3x"></i>
              </div>
              <div class="text-end">
                <h3>£{{ income_count|floatformat:2  }}</h3>
                <p class="mb-0 galaxy-fold">Total Income</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xl-6 mb-3 js-data-chart">
        <div class="card h-100">
          <div class="card-header">
            <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
            Guests Attended Chart
          </div>
          <div class="card-body">
            <canvas id="myChart" width="400" height="200"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xl-6 mb-3 js-data-chart">
        <div class="card h-100 ">
          <div class="card-header">
            <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
            Number Of Bookings Chart
          </div>
          <div class="card-body">
            <canvas id="myChart2" width="400" height="200"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xl-6 mb-3 js-data-chart">
        <div class="card h-100">
          <div class="card-header">
            <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
            Total Income Chart
          </div>
          <div class="card-body">
            <canvas id="myChart3" width="400" height="200"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xl-6 mb-3">
        <div class="card h-100">
          <div class="card-header">
            <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
            Quick Statistics
          </div>
          <div class="card-body">
            <h5>Website</h5>
            <p>Total Accounts - {{ all_accounts }}</p>
            <p>Total Guest Accounts - {{ user_accounts }}</p>
            <p>Total Staff Accounts - {{ staff_accounts }}</p>
            <br>
            <h5>Payments</h5>
            <p>Total Income (including tips) - £{{ income_count|floatformat:2 }}</p>
            <p>Total Tips - £{{ amount_tipped }}</p>
            <p>Average Per Guest - £{{ average_per_guest|floatformat:2  }}</p>
            <br>
            <h5>Bookings</h5>
            <p>Total Bookings - {{ booking_count }}</p>
            <p>Total Guests - {{ total_guests }} </p>
            <br>
            <h5>Reviews</h5>
            <p>Total Reviews Submitted - {{ review_count }}</p>
            <p>Total Reviews Approved - {{ reviews_approved }}</p>
            <p>Total Reviews Denied - {{ reviews_denied }}</p>
            <p>Average Star Rating - {{ stars|floatformat:2 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <script>
    const ctx = document.getElementById("myChart").getContext("2d");
    const myChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
        datasets: [
          {
            label: "Number of guests attended per month for 2022",
            data: [
              "{{jan_guests}}",
              "{{feb_guests}}",
              "{{mar_guests}}",
              "{{apr_guests}}",
              "{{may_guests}}",
              "{{jun_guests}}",
              "{{jul_guests}}",
              "{{aug_guests}}",
              "{{sep_guests}}",
              "{{oct_guests}}",
              "{{nov_guests}}",
              "{{dec_guests}}",
            ],
            backgroundColor: [
              "rgba(255, 99, 132, 0.2)",
              "rgba(54, 162, 235, 0.2)",
              "rgba(255, 206, 86, 0.2)",
              "rgba(75, 192, 192, 0.2)",
              "rgba(153, 102, 255, 0.2)",
              "rgba(255, 159, 64, 0.2)",
              "rgba(255, 99, 132, 0.2)",
              "rgba(54, 162, 235, 0.2)",
              "rgba(255, 206, 86, 0.2)",
              "rgba(75, 192, 192, 0.2)",
              "rgba(153, 102, 255, 0.2)",
              "rgba(255, 159, 64, 0.2)",
            ],
            borderColor: [
              "rgba(255, 99, 132, 1)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
              "rgba(75, 192, 192, 1)",
              "rgba(153, 102, 255, 1)",
              "rgba(255, 159, 64, 1)",
              "rgba(255, 99, 132, 1)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
              "rgba(75, 192, 192, 1)",
              "rgba(153, 102, 255, 1)",
              "rgba(255, 159, 64, 1)",
            ],
            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
    const ctx2 = document.getElementById("myChart2").getContext("2d");
    const myChart2 = new Chart(ctx2, {
      type: "bar",
      data: {
        labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
        datasets: [
          {
            label: "Number of bookings per month for 2022",
            data: [
              "{{jan_bookings}}",
              "{{feb_bookings}}",
              "{{mar_bookings}}",
              "{{apr_bookings}}",
              "{{may_bookings}}",
              "{{jun_bookings}}",
              "{{jul_bookings}}",
              "{{aug_bookings}}",
              "{{sep_bookings}}",
              "{{oct_bookings}}",
              "{{nov_bookings}}",
              "{{dec_bookings}}",
            ],
            backgroundColor: [
              "rgba(255, 99, 132, 0.2)",
              "rgba(54, 162, 235, 0.2)",
              "rgba(255, 206, 86, 0.2)",
              "rgba(75, 192, 192, 0.2)",
              "rgba(153, 102, 255, 0.2)",
              "rgba(255, 159, 64, 0.2)",
              "rgba(255, 99, 132, 0.2)",
              "rgba(54, 162, 235, 0.2)",
              "rgba(255, 206, 86, 0.2)",
              "rgba(75, 192, 192, 0.2)",
              "rgba(153, 102, 255, 0.2)",
              "rgba(255, 159, 64, 0.2)",
            ],
            borderColor: [
              "rgba(255, 99, 132, 1)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
              "rgba(75, 192, 192, 1)",
              "rgba(153, 102, 255, 1)",
              "rgba(255, 159, 64, 1)",
              "rgba(255, 99, 132, 1)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
              "rgba(75, 192, 192, 1)",
              "rgba(153, 102, 255, 1)",
              "rgba(255, 159, 64, 1)",
            ],
            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
    const ctx3 = document.getElementById("myChart3").getContext("2d");
    const myChart3 = new Chart(ctx3, {
      type: "pie",
      data: {
        labels: ["standard_income", "amount_tipped"],
        datasets: [
          {
            label: "Total amount paid and tipped",
            data: [
              "{{standard_income}}",
              "{{amount_tipped}}",
            ],
            backgroundColor: [
              "rgba(152, 251, 152, 1)",
              "rgba(153, 102, 255, 1)",
            ],
            borderColor: [
              "rgba(152, 251, 152, 1)",
              "rgba(153, 102, 255, 1)",
            ],
            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
  </script>

{% endblock %}
</main>
