{% extends "base.html" %} {% block content %} {% include "staff_navbar.html" %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<div class="col-9 ps-5 mt-5">
  <div class="row">
    <div class="col-12 mb-4">
      <p>All bookings <a href="">View Here</a></p>
    </div>
  </div>
  <table class="table table_id pt-5 text-center">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Size</th>
        <th scope="col">Approve</th>
        <th scope="col">Deny</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in pending_bookings %}
      <tr>
        <td data-label="Name">{{ booking.first_name }} {{ booking.last_name }}</td>
        <td data-label="Date">{{ booking.date_of_visit }}</td>
        <td data-label="Time">{{ booking.time_of_visit }}</td>
        <td data-label="Size">{{ booking.number_of_guests }}</td>
        <form action="approve-booking/{{ booking.id }}" method="POST">
          <input type="hidden" name="next" value="{{request.path}}">
          <td data-label="Approve"><button type="submit" class="btn btn-success">Approve</button></td>
          {% csrf_token %}
        </form>
        <form action="deny-booking/{{ booking.id }}" method="POST">
            <input type="hidden" name="next" value="{{request.path}}">
          {% csrf_token %}
          <td data-label="Deny"><button type="submit" class="btn btn-danger">Deny</button></td>
        </form>
        <form action="details-booking/{{ booking.id }}" method="POST">
          <input type="hidden" name="next" value="{{request.path}}">
          <td data-label="details"><button type="submit" class="btn btn-primary">Details</button></td>
          {% csrf_token %}
        </form>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function () {
    $(".table_id").DataTable( {
      responsive: true
    });
  });
</script>

{% endblock %}