{% extends "base.html" %} {% block content %} {% include "staff_navbar.html" %}


<div class="col-9 ps-5 mt-5">
  <div class="card">
    <table class="table table_id pt-5 text-center">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Size</th>
          <th scope="col">Ref Number</th>
          <th scope="col">Approve</th>
          <th scope="col">Deny</th>
        </tr>
      </thead>
      <tbody>
        {% for booking in pending_bookings %}
        <tr>
          <td data-label="Name">{{ booking.first_name }} {{ booking.last_name }}</td>
          <td data-label="Contact Number">{{ booking.contact_number }}</td>
          <td data-label="Date">{{ booking.date_of_visit }}</td>
          <td data-label="Time">{{ booking.time_of_visit }}</td>
          <td data-label="Size">{{ booking.number_of_guests }}</td>
          <td data-label="Ref Number">{{ booking.ref_number }}</td>
          <form action="approve-booking/{{ booking.id }}" method="POST">
            <input type="hidden" name="next" value="{{request.path}}">
            <td data-label="Approve"><button type="submit" class="btn btn-success">Approve</button></td>
            {% csrf_token %}
          </form>
          <form action="deny-booking/{{ booking.id }}" method="POST">
              <input type="hidden" name="next" value="{{request.path}}">
            {% csrf_token %}
            <td data-label="Deny"><button type="submit" class="btn btn-danger">Deny</button></td>
          </form>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock %}