{% extends "base.html" %} {% block content %} {% include "staff_navbar.html" %}

{% load crispy_forms_tags %}

<div class="col-9 ps-5 mt-5">
  <div class="row">
    <div class="col-12 mb-4">
      <a href="{% url 'staff_payment_page'%}">Previous Page</a>
    </div>
    <ul>
      <li class="list-unstyled mb-2"><strong>Ref</strong> - {{ booking.ref_number }}</li>
      <li class="list-unstyled mb-2"><strong>Name</strong> - {{ booking.first_name }} {{ booking.last_name }}</li>
      <li class="list-unstyled mb-2"><strong>Date</strong> - {{ booking.date_of_visit }}</li>
      <li class="list-unstyled mb-2"><strong>Time</strong> - {{ booking.time_of_visit }}</li>
      <li class="list-unstyled mb-2"><strong>Guests</strong> - {{ booking.number_of_guests }}</li>
      <li class="list-unstyled mb-2"><strong>Status</strong> - {% if booking.booking_approved %} Approved {% elif booking.booking_denied %} Denied {% else %} No data {% endif %}</li>
      <li class="list-unstyled mb-2"><strong>Attended</strong> - {% if booking.guest_attended %} Attended {% elif booking.guest_no_show %} Not attended {% else %} No data {% endif %}</li>
      <li class="list-unstyled mb-2"><strong>Email</strong> - {{ booking.email }}</li>
      <li class="list-unstyled mb-2"><strong>Contact</strong> - {{ booking.contact_number }}</li>
      <li class="list-unstyled mb-2"><strong>Account</strong> - {{ booking.user.username }}</li>
    </ul>
    <div>
      {% if booking.bill_settled == False %}
    <form method="POST">
      <input type="hidden" name="next" value="{{request.path}}">
      {% csrf_token %}
          {{ form|crispy }}
          <p>
              <button type="submit" class="golden-button">Submit</button>
          </p>
      </div>
  </form>
  {% else %}
  <p class="text-success">Payment information for this booking has been submitted</p>
  {% endif %}

{% endblock %}