{% extends "base.html" %} {% block content %} {% include "staff_navbar.html" %}

{% load crispy_forms_tags %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/user_reservations.css' %}">


<div class="col-9 ps-5 mt-5">
  <div class="row">
    <div class="col-12 mb-4">
      <a href="{% url 'staff_payment_page'%}">Previous Page</a>
    </div>
    <table class="table table_id pt-5 text-center">
     <thead>
       <tr>
         <th scope="col">Ref</th>
         <th scope="col">Name</th>
         <th scope="col">Date Of Visit</th>
         <th scope="col">Time Of Visit</th>
         <th scope="col">Party Size</th>
         <th scope="col">Status</th>
         <th scope="col">Email</th>
         <th scope="col">Contact Number</th>
         <th scope="col">Account</th>
         <th scope="col">Disabled Access</th>
         <th scope="col">Additional Info</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td data-label="Ref">{{ booking.ref_number }}</td>
         <td data-label="Name">{{ booking.first_name }} {{ booking.last_name }}</td>
         <td data-label="Date">{{ booking.date_of_visit }}</td>
         <td data-label="Time">{{ booking.time_of_visit }}</td>
         <td data-label="Guests">{{ booking.number_of_guests }}</td>
         <td data-label="Booking Status">{% if booking.booking_approved %} <span class="green-text">Booking Approved</span> <i class="fas fa-check green-text"></i> {% elif booking.booking_denied %} <span class="red-text">Booking Denied</span> <i class="fas fa-exclamation red-text"></i>  {% else %} Awaiting approval {% endif %}</td>
         <td data-label="Email">{{ booking.email }}</td>
         <td data-label="Contact">{{ booking.contact_number }}</td>
         <td data-label="Account">{{ booking.user.username }}</td>
         <td data-label="Disabled Access">{% if booking.disabled_access == True %} Required {% else %} Not Required {% endif %}</td>
         <td data-label="Additional Info">{% if booking.additional_info %} {{ booking.additional_info }} {% else %} No additional information {% endif %} </td>
       </tr>
     </tbody>
   </table>
    <div>
      {% if booking.bill_settled == False %}
    <form method="POST">
      <input type="hidden" name="next" value="{{request.path}}">
      {% csrf_token %}
          {{ form|crispy }}
          <p>
              <button type="submit" class="golden-button">Submit</button>
          </p>
      </div>
    </form>
  {% else %}
  <p class="text-success">Payment information for this booking has been submitted</p>
  {% endif %}

{% endblock %}