{% extends "base.html" %} {% block content %} {% include "navbar_2.html" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="container page-space">
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <h5 class="text-uppercase text-center mt-5 mb-5">Staff Dashboard</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-sm-6 col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div class="align-self-center">
              <i class="fas fa-pencil-alt text-danger fa-3x"></i>
            </div>
            <div class="text-end">
              <h3>43</h3>
              <p class="mb-0">Total Bookings</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div class="align-self-center">
              <i class="fas fa-user text-info fa-3x"></i>
            </div>
            <div class="text-end">
              <h3>160</h3>
              <p class="mb-0">Total Guests</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div class="align-self-center">
              <i class="far fa-comment-alt text-warning fa-3x"></i>
            </div>
            <div class="text-end">
              <h3>50</h3>
              <p class="mb-0">Total Reviews</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div class="align-self-center">
              <i class="fas fa-chart-line text-success fa-3x"></i>
            </div>
            <div class="text-end">
              <h3>£ 500</h3>
              <p class="mb-0">Total Income</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12 mb-4">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Pending Bookings</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <form action="pending-bookings" method="GET">
              {% csrf_token %}
              <button class="golden-button" type="submit" type="button">Click Here</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 mb-4">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Pending Reviews</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <form action="#" method="GET">
              {% csrf_token %}
              <button class="golden-button" type="submit" type="button">Click Here</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 mb-4">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">All Bookings</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <form action="#" method="GET">
              {% csrf_token %}
              <button class="golden-button" type="submit" type="button">Click Here</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 mb-4">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">All Reviews</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <form action="#" method="GET">
              {% csrf_token %}
              <button class="golden-button" type="submit" type="button">Click Here</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-xl-6 col-lg-12">
      <canvas id="myChart" width="300" height="200"></canvas>
    </div>
    <div class="col-xl-6 col-lg-12" >
      <canvas id="myChart2" width="300" height="200"></canvas>
    </div>
  </div>
</div>

<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['January', 'February', 'March', 'April', 
        'May', 'June', 'July', 'August', 'September', 'October', 
        'November', 'December'],
        datasets: [{
            label: 'Number of guests attended per month for 2022',
            data: ['{{jan_guests}}',  '{{feb_guests}}',  '{{mar_guests}}', 
            '{{apr_guests}}', '{{may_guests}}', '{{jun_guests}}', '{{jul_guests}}', 
            '{{aug_guests}}', '{{sep_guests}}', '{{oct_guests}}', '{{nov_guests}}', 
            '{{dec_guests}}'],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
const ctx2 = document.getElementById('myChart2').getContext('2d');
const myChart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: ['January', 'February', 'March', 'April', 
        'May', 'June', 'July', 'August', 'September', 'October', 
        'November', 'December'],
        datasets: [{
            label: 'Number of bookings per month for 2022',
            data: ['{{jan_bookings}}',  '{{feb_bookings}}',  '{{mar_bookings}}', 
            '{{apr_bookings}}', '{{may_bookings}}', '{{jun_bookings}}', '{{jul_bookings}}', 
            '{{aug_bookings}}', '{{sep_bookings}}', '{{oct_bookings}}', '{{nov_bookings}}', 
            '{{dec_bookings}}'],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>


{% include "footer.html" %} {% endblock %}