{% extends "base.html" %} {% block content %} {% include "staff_navbar.html" %}


<div class="col-9 ps-5 mt-5">
  <div class="row">
    <div class="col-12 mb-4">
      <p>Pending reviews <a href="{% url 'staff_pending_reviews'%}">View Here</a></p>
    </div>
  </div>
  {% for review in all_reviews %}
  <div class="card p-3 mb-2">
    <div class="row align-items-center justify-content-center">
        <h6>{{ review.first_name }} {{ review.last_name }} - <i> ({{ review.user.username }}) </i> - {% if review.approved == True %} <i style="color: green;" class="fas fa-check"> Approved</i> {% else %} <i style="color: red;" class="fas fa-exclamation"> Review denied</i> {% endif %} </h6> 
        <p> {{ review.body }}</p>
        <p> <i>{{ review.created_on }}</i></p>
        <form action="approve-review/{{ review.id }}" method="POST">
          <input type="hidden" name="next" value="{{request.path}}">
          <button type="submit" class="btn btn-sm btn-success mb-2">Approve</button>
          {% csrf_token %}
        </form>
        <form action="deny-review/{{ review.id }}" method="POST">
          <input type="hidden" name="next" value="{{request.path}}">
          <button type="submit" class="btn btn-sm btn-danger mb-2">Deny</button>
          {% csrf_token %}
        </form>
      </div>
  </div>
  {% endfor %}




{% endblock %}
