{% extends "base.html" %} {% block content %} {% include "staff_navbar.html" %}

<div class="col-9 ps-5 mt-5">
  {% if messages %}
    {% for msg in messages %}
     {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="alert alert-danger alert-dismissable d-flex justify-content-between align-items-center mb-3">
        <p class="m-0">{{msg.message}}</p> 
        <button class="btn-close" data-bs-dismiss="alert" aria-hidden="true"></button>
      </div>
      {% else %}
      <div class="alert alert-success alert-dismissable d-flex justify-content-between align-items-center mb-3">
        <p class="m-0">{{msg.message}}</p> 
        <button class="btn-close" data-bs-dismiss="alert" aria-hidden="true"></button>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  <div class="row">
    <div class="col-12 mb-4">
      <p>Please approve or deny these bookings as soon as possible. Staff members are to check the diary and make their own judgement whether Cafe Manbo has space to accommodate the guests</p>
    </div>
    {% if guest_attended %}
  <table class="table table_id pt-5 text-center">
    <thead>
      <tr>
        <th scope="col">Ref</th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Size</th>
        <th scope="col">Approve</th>
        <th scope="col">Deny</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in guest_attended %}
      <tr>
        <td data-label="Date">{{ booking.ref_number }}</td>
        <td data-label="Name">{{ booking.first_name }} {{ booking.last_name }}</td>
        <td data-label="Date">{{ booking.date_of_visit }}</td>
        <td data-label="Time">{{ booking.time_of_visit }}</td>
        <td data-label="Size">{{ booking.number_of_guests }}</td>
        <form action="check-in/{{ booking.id }}" method="POST">
          <input type="hidden" name="next" value="{{request.path}}">
          <td data-label="Approve"><button type="submit" class="btn btn-success">Check In</button></td>
          {% csrf_token %}
        </form>
        <form action="no-show/{{ booking.id }}" method="POST">
            <input type="hidden" name="next" value="{{request.path}}">
          {% csrf_token %}
          <td data-label="Deny"><button type="submit" class="btn btn-danger">No Show</button></td>
        </form>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No bookings to check in for today</p>
  {% endif %}
</div>

{% endblock %}