{% extends "base.html" %} {% block content %} {% include "staff_navbar.html" %}


<div class="col-9 ps-5 mt-5">
  <div class="row">
    <div class="col-12 mb-4">
      <p>All reviews <a href="{% url 'staff_all_reviews' %}">View Here</a></p>
    </div>
  </div>
  {% if pending_reviews %}
  {% for review in pending_reviews %}
  <div class="card p-3 mb-2">
    <div class="row align-items-center justify-content-center" data-aos="fade-up">
      <h6>
        {{ review.first_name }} {{ review.last_name }} - <i> ({{ review.user.username }}) </i> -
        <i style="color: red" class="fas fa-exclamation"> Not Approved</i>
      </h6>
      <p>{{ review.body }}</p>
      <p><i>{{ review.created_on }}</i></p>
      <form action="approve-review/{{ review.id }}" method="POST">
        <input type="hidden" name="next" value="{{request.path}}">
        <button type="submit" class="btn btn-sm btn-success mb-2">Approve</button>
        {% csrf_token %}
      </form>
      <form action="deny-review/{{ review.id }}" method="POST">
        <input type="hidden" name="next" value="{{request.path}}">
        <button type="submit" class="btn btn-sm btn-danger mb-2">Deny</button>
        {% csrf_token %}
      </form>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No reviews to approve or deny</p>
{% endif %}

{% endblock %}
