{% extends "base.html" %} {% block content %} {% include "navbar_2.html" %} {% load crispy_forms_tags %} {% load static %}

<section class="container p-5 page-space">
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-6 col-12">
      <p>Please fill in the fields below and click to submit to leave your review</p>
      <form method="POST">
        {% csrf_token %} {{ form|crispy }}
        <input type="hidden" name="next" value="{{request.path}}" />
        <button type="submit" class="black-button">Submit</button>
      </form>
    </div>
    <div class="col-md-6 d-none d-lg-block our-menu-image img-fluid">
      <img src="{% static 'images/thank-you-image.png'%}" alt="Thank you image" />
    </div>
  </div>
</section>

{% include "footer.html" %} {% endblock %}
