{% load static %}

<footer class="text-center text-lg-start text-white bg-dark p-5 mt-auto">
  <div class="container">
    <div class="row text-center justify-content-center align-items-center">
      <div class="col-lg-4 col-xl-3 mx-auto mb-4 mt-4">
        <!-- Content -->
        <h6 class="mx-auto title-text">Cafe Manbo</h6>
        <img src="{% static 'images/food-hygeine.png'%}" alt="Food Hygeine Label" class="w-75" />
      </div>

      <div class="col-lg-2 col-xl-2 mx-auto mb-4 mt-4">
        <!-- Links -->
        <p class="footer-links">
          <a href="{% url 'home' %}">Home</a>
        </p>
        <p class="footer-links">
          <a href="https://res.cloudinary.com/duvrjdbbc/image/upload/v1654593056/Cafe-Manbo-Menu_vvvsko.pdf" target="_blank">Our Menu</a>
        </p>
        <p class="footer-links">
          <a href="{% url 'gallery' %}">Gallery</a>
        </p>
        <p class="footer-links">
          <a href="{% url 'book_now' %}">Book Now</a>
        </p>
        <p class="footer-links">
          <a href="{% url 'user_reservations' %}">Reservations</a>
        </p>
        <p class="footer-links">
          <a href="{% url 'account_signup' %}">Register</a>
        </p>
        <p class="footer-links">
          <a href="{% url 'account_login' %}">Login</a>
        </p>
      </div>

      <div class="col-lg-2 col-xl-2 mx-auto mb-4">
        <p class="footer-links">
          <a href="https://www.instagram.com/" target="_blank">Instagram</a>
        </p>
        <p class="footer-links">
          <a href="https://www.linkedin.com/feed/" target="_blank">LinkedIn</a>
        </p>
        <p class="footer-links">
          <a href="https://twitter.com/home" target="_blank">Twitter</a>
        </p>
        <p class="footer-links">
          <a href="https://en-gb.facebook.com/" target="_blank">Facebook</a>
        </p>
      </div>

      <div class="col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <p><i class="golden-icon fas fa-home mr-3"></i> 4 Wood Street, Wakefield, WF5 9CY</p>
        <p><i class="golden-icon fas fa-envelope mr-3"></i><a class="footer-mail" href="mailto:cafemanbo@hotmail.com"> cafemanbo@hotmail.co.uk</a></p>
        <p><i class="golden-icon fas fa-phone mr-3"></i> 01924 206050</p>
        <p><i class="golden-icon fas fa-print mr-3"></i> 01924 206050</p>
      </div>

      <hr class="mt-4" />
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-3">
        <p>© 2022 Copyright Cafe Manbo</p>
      </div>
    </div>
  </div>
</footer>
