<footer class="text-center text-lg-start text-white bg-dark p-5 mt-auto" >
    <div class="container">
      <div class="row text-center justify-content-center align-items-center">
        <!-- Grid column -->
          <div class="col-lg-4 col-xl-3 mx-auto mb-4 mt-4">
            <!-- Content -->
            <h6 class="mx-auto title-text">Cafe Manbo</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores maiores minus consequatur quia voluptates quos error. Consectetur aspernatur numquam ratione.
            </p>
          </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class=" col-lg-2 col-xl-2 mx-auto mb-4 mt-4">
          <!-- Links -->
          <p class="footer-links">
            <a href="#!">Home</a>
          </p>
          <p class="footer-links">
            <a href="#!">Our Story</a>
          </p>
          <p class="footer-links">
            <a href="#!">Our Menu</a>
          </p>
          <p class="footer-links">
            <a href="#!">Reviews</a>
          </p>
          <p class="footer-links">
            <a href="#!">Reservations</a>
          </p>
          <p class="footer-links">
            <a href="#!">Contact</a>
          </p>
          <p class="footer-links">
            <a href="#!">Register</a>
          </p>
          <p class="footer-links">
            <a href="#!">Login</a>
          </p>
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class=" col-lg-2 col-xl-2 mx-auto mb-4">
            <p class="footer-links">
              <a href="#!">Instagram</a>
            </p>
            <p class="footer-links">
              <a href="#!">LinkedIn</a>
            </p>
            <p class="footer-links">
              <a href="#!">Twitter</a>
            </p>
            <p class="footer-links">
              <a href="#!">Facebook</a>
            </p>
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class=" col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <p><i class="fas fa-home mr-3"></i> 4 Swithenbank Street, Ossett, WF5 9RW</p>
          <p><i class="fas fa-envelope mr-3"></i> cafemanbo@hotmail.com</p>
          <p><i class="fas fa-phone mr-3"></i> 01924 210047</p>
          <p><i class="fas fa-print mr-3"></i> 01924 210047</p>
        </div>
        <!-- Grid column -->
        <hr class="mt-4">
        <!-- Section: Links  -->
    
        <!-- Copyright -->
        <div class="text-center p-3">
        © 2022 Copyright Cafe Manbo
        </div>
  
    </div>
  </footer>