<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center mb-5 me-md-auto text-white text-decoration-none">
          <span class="d-none d-sm-inline staff-nav-bar-logo">Cafe Manbo</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="mb-2">
            <a href="{% url 'home' %}" data-bs-toggle="collapse" class="text-decoration-none px-0 align-middle">
              <i class="fs-4 bi-house text-white"></i> <span class="ms-1 d-none d-sm-inline staff-link text-white">Home</span>
            </a>
          </li>
          <li class="mb-2">
            <a href="{% url 'staff_dashboard' %}" data-bs-toggle="collapse" class="text-decoration-none px-0 align-middle">
              <i class="fs-4 bi-speedometer2 text-white"></i> <span class="ms-1 d-none d-sm-inline staff-link text-white">Dashboard</span>
            </a>
          </li>
          <li class="mb-2">
            <a href="{% url 'staff_pending_bookings' %}" class="text-decoration-none px-0 align-middle">
              <i class="fs-4 bi-book text-white"></i> <span class="ms-1 d-none d-sm-inline staff-link text-white">Bookings </span> {% if pending_bookings_count != 0 %}
              <span class="text-decoration-none disable-hover text-white">-</span>
              <span class="red-exclamation disable-hover"> {{pending_bookings_count}}</span> {% endif %}</a
            >
          </li>
          <li class="mb-2">
            <a href="{% url 'staff_check_in_page' %}" class="text-decoration-none px-0 align-middle">
              <i class="fs-4 bi-people text-white"></i> <span class="ms-1 d-none d-sm-inline staff-link text-white">Check In</span> {% if pending_check_in_count != 0 %}
              <span class="text-decoration-none disable-hover text-white">-</span>
              <span class="red-exclamation disable-hover"> {{pending_check_in_count}}</span> {% endif %}</a
            >
          </li>
          <li class="mb-2">
            <a href="{% url 'staff_payment_page'%}" data-bs-toggle="collapse" class="text-decoration-none px-0 align-middle">
              <i class="fs-4 bi-cash text-white"></i> <span class="ms-1 d-none d-sm-inline staff-link text-white">Payments</span> {% if pending_payment_count != 0 %}
              <span class="text-decoration-none disable-hover text-white">-</span>
              <span class="red-exclamation disable-hover"> {{pending_payment_count}}</span> {% endif %}</a
            >
          </li>
          <li class="mb-2">
            <a href="{% url 'staff_pending_reviews' %}" data-bs-toggle="collapse" class="text-decoration-none px-0 align-middle">
              <i class="fs-4 bi-pen text-white"></i> <span class="ms-1 d-none d-sm-inline staff-link text-white">Reviews</span> {% if pending_reviews_count != 0 %}
              <span class="text-decoration-none disable-hover text-white">-</span>
              <span class="red-exclamation disable-hover"> {{pending_reviews_count}}</span> {% endif %}</a
            >
          </li>
          <li class="mb-2">
            <a href="#" data-bs-toggle="modal" data-bs-target="#staff_help" class="text-decoration-none px-0 align-middle">
              <i class="fs-4 bi-info-circle text-white"></i> <span class="ms-1 d-none d-sm-inline staff-link text-white pe-auto">Staff Help</span> 
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div
           class="modal fade"
           id="staff_help"
           data-bs-backdrop="static"
           data-bs-keyboard="false"
           tabindex="-1"
           aria-hidden="true"
         >
           <div class="modal-dialog modal-lg modal-dialog-centered">
             <div class="modal-content">
               <div class="modal-header text-center">
                 <h3>Staff Help</h3>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                <h5>Bookings</h5>
                <p>When a customer creates a booking, the booking will be shown on the Bookings page until it has been approved or denied by a staff member</p>
                <a href="#" role="button" class="btn btn-success popover-test">Approve</a> This will approve the booking and send a confirmation email to the user. <br><br>
                <a href="#" role="button" class="btn btn-danger popover-test">Deny</a> This will deny the booking and send an email to the user saying their booking has been denied <br><br>
                <a href="#" role="button" class="btn btn-primary popover-test">Details</a> This will load additional information about that specific booking <br><br>
                <hr>
                <h5>Check In</h5>
                <p>If a booking has been approved by a member of staff, the booking will then be shown on the Check In page if that booking is for today</p>
                <a href="#" role="button" class="btn btn-success popover-test">Check In</a> This will check the guests in and send a confirmation email to the user <br><br>
                <a href="#" role="button" class="btn btn-danger popover-test">No Show</a> This will mark the guests as not turning up to the restaurant and will send an email informing them that they did not attend<br><br>
                <p>If a guest does not show up and a staff member forgets to click No Show, then an automatic no show email will be sent to the user if the booking is in the past</p>
                <hr>
                <h5>Payments</h5>
                <p>If a booking has been approved and checked in by a member of staff, the booking will then be displayed on the Payments page. This is the last step of the life cycle of a booking.</p>
                <a href="#" role="button" class="btn btn-warning popover-test">Payment</a> This will load a new page where a staff member can submit the payment information for that booking <br><br>
                <hr>
                <h5>Reviews</h5>
                <p>If a customer leaves a review, the review will be rendered on the Reviews page for a staff member to either approve or deny the review.</p>
                <a href="#" role="button" class="btn btn-success popover-test">Approve</a> This will approve the review and it will then be eligible to be rendered on the home page of the website <br><br>
                <a href="#" role="button" class="btn btn-danger popover-test">Deny</a> This will deny the review and it will not be eligible to be rendered on the home page <br><br>
                <a href="#" role="button" class="btn btn-warning popover-test">Reset</a> This will reset the state of the review and the review will then need to be re-approved or denied <br><br>
                <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Close</button>
               </div>
             </div>
           </div>
         </div>
       </div>

    <!-- 2 </div> gap left on purpose for staff dashboard styling purposes -->

