<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center mb-5 me-md-auto text-white text-decoration-none">
                    <span class="d-none d-sm-inline staff-nav-bar-logo">Cafe Manbo</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li>
                        <a href="{% url 'staff_dashboard' %}" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'staff_pending_bookings' %}" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-book"></i> <span class="ms-1 d-none d-sm-inline">Bookings </span> {% if pending_bookings_count != 0 %} <span class="text-decoration-none disable-hover">-</span> <span class="red-exclamation disable-hover"> {{pending_bookings_count}}</span> {% endif %}</a>
                    </li>
                    <li>
                        <a href="{% url 'staff_pending_reviews' %}" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-pen"></i> <span class="ms-1 d-none d-sm-inline">Reviews</span> {% if pending_reviews_count != 0 %} <span class="text-decoration-none disable-hover">-</span> <span class="red-exclamation disable-hover"> {{pending_reviews_count}}</span> {% endif %}</a>
                    </li>
                    <li>
                        <a href="#" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-cash"></i> <span class="ms-1 d-none d-sm-inline">Payments</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'staff_check_in_page' %}" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Check In</span> {% if pending_check_in_count != 0 %} <span class="text-decoration-none disable-hover">-</span> <span class="red-exclamation disable-hover"> {{pending_check_in_count}}</span> {% endif %}</a>
                    </li>
                </ul>
            </div>
        </div>

